html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(99, 147, 197);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: #eaeaea;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(74, 74, 74, 0.5);
}
* {
  box-sizing: border-box;
}
pre {
  overflow: hidden;
  white-space: break-spaces;
}

.paragraph {
  font-size: 22px;
  line-height: 2;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
